@import 'color_pallet';
@import 'table_mixin';


//--------------COLOR SWATCH---------

#color_swatches{
  list-style: none;
  padding: 0;
  //  display: inline-block;
  .swatch{
    float: left;
    //    display: block;
    //    height: 200px;
    cursor: ew-resize;
    //    background-color: $green;
  }
  li {
    padding: 0;
  }
  span {
    display: block;
    height: 200px;
  }
  #swatch1 {
    background-color: lighten($green, 15%);
  }
  #swatch2 {
    background-color: lighten($green, 10%);
  }
  #swatch3 {
    background: lighten($green, 5%);

  }
  #swatch4 {
    background-color: $green;
  }
  #swatch5 {
    background-color: darken($green, 5%);
  }
  #swatch6 {
    background-color: darken($green, 10%);
  }
  .over {
    border: 2px dashed #000;
    //    opacity: .4%;
  }
}

//-----EXTENDED TABLE----
#user_info_table{
  @extend #user_info_table;
  .edit_btn, .save_btn {
    //      float:right;
    right: 35px;
    top: 10px;
    position: absolute;
    display: block;
  }
  .trash_row_btn, .cancel_edit_btn {
    right: 10px;
    top: 10px;
    position: absolute;
    display: block;
  }
}

//.keying {
//  display: block;
//  color: $charcoal;
//  width: 800px;
//}
//
//.cubes {
//  li {
//    display: block;
//    width: 100px;
//    height: 100px;
//    float: left;
//    background-color: $light_blue;
//    margin: 15px;
//  }
//}

.animated_cube {
  position: absolute;
  display: block;
  width: 250px;
  height: 250px;
  background-color: $light_blue;
}