* {
  margin: 0; }

html, body {
  height: 100%;
  background-color: #7d8dae;
  color: #fffefa; }

#div1, #div2 {
  width: 221px;
  height: 203px;
  border: 1px solid #aaaaaa; }
  #div1 img, #div2 img {
    padding: 0;
    margin: 0; }

header {
  background: url("../images/jason-redd-logo.png") no-repeat top center;
  height: 100px; }

.bot_readable {
  text-indent: -9999px;
  float: left; }

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -205px; }

.demo_nav {
  display: inline; }
  .demo_nav li {
    float: left;
    list-style: none; }
    .demo_nav li a {
      color: #fffefa;
      background-color: darkgray;
      display: block;
      padding: 15px; }
    .demo_nav li a:hover, .demo_nav li .nav_active {
      background-color: lightgray;
      color: #686869;
      text-decoration: none; }

.color_list h2 {
  margin-top: 200px; }
.color_list ul {
  list-style: none;
  font-size: 2em; }
  .color_list ul li {
    display: block;
    padding: 5px; }
  .color_list ul :hover {
    color: lightgray;
    cursor: pointer; }

#user_info_table thead td:first-child {
  border-radius: 10px 0 0 0;
  -webkit-border-radius: 10px 0 0 0;
  -moz-border-radius: 10px 0 0 0; }
#user_info_table thead td:last-child {
  border-radius: 0 10px 0 0;
  -webkit-border-radius: 0 10px 0 0;
  -moz-border-radius: 0 10px 0 0; }
#user_info_table thead td:only-child {
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0; }
#user_info_table thead tr {
  background-color: #686869; }
  #user_info_table thead tr td {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600; }
  #user_info_table thead tr td:hover {
    background-color: darkgray; }
#user_info_table tbody tr:nth-child(odd) {
  background: #fffefa;
  color: darkgray; }
#user_info_table tbody tr:nth-child(even) {
  background: darkgray;
  color: #fffefa; }
#user_info_table tbody tr:hover {
  background: lightgray;
  color: #686869; }
#user_info_table tfoot {
  background-color: #686869; }
  #user_info_table tfoot tr {
    height: 3px; }

#join_email_list {
  background-color: #fffefa;
  color: #686869; }

footer {
  -webkit-box-shadow: inset 0px 30px 90px -20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 30px 90px -20px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 30px 90px -20px rgba(0, 0, 0, 0.3);
  background-color: #686869; }
  footer dd {
    text-indent: 25px; }
  footer a {
    color: #adb8cf;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  footer a:hover {
    color: #7d8dae; }
  footer .footer_links {
    text-align: center; }

.push {
  margin-top: 15px; }

#side_bar {
  top: 0px;
  left: 1155px;
  position: absolute;
  background: #fffefa;
  width: 150px;
  height: 200px; }

footer, .push {
  height: 205px; }
