* {
  margin: 0;
  font-style: normal; }
  * li, * dd span, * input, * body {
    font-family: "etica-display",sans-serif;
    font-weight: 300;
    font-size: 1.5em; }
  * p, * tbody tr {
    font-family: "adobe-garamond-pro",sans-serif;
    font-weight: 100;
    font-size: 1.15em;
    letter-spacing: .05em; }
  * h1, * h2, * h3, * h4, * h5, * h6, * dt, * label, * button, * text, * thead td, * .error {
    font-family: "bebas-neue",sans-serif;
    font-weight: 400;
    letter-spacing: .05em; }
  * h1 {
    font-size: 3em; }
  * h2 {
    font-size: 2.85em; }
  * h3 {
    font-size: 2.75em; }
  * h4 {
    font-size: 2.65em; }
  * h5 {
    font-size: 2.5em; }
  * h6 {
    font-size: 2em; }
  * label {
    font-size: 1.1em; }
  * input {
    font-weight: 400;
    letter-spacing: .05em;
    font-size: 1.1em !important; }
  * thead {
    font-size: 1.5em; }

input::-webkit-input-placeholder {
  color: rgba(85, 85, 85, 0.75) !important; }

input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(85, 85, 85, 0.75) !important; }

input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(85, 85, 85, 0.75) !important; }

input:-ms-input-placeholder {
  color: rgba(85, 85, 85, 0.75) !important; }

html, body {
  height: 100%;
  background-color: #7d8dae;
  color: #fffefa; }

header {
  height: 150px;
  text-align: center;
  font-family: "bebas-neue",sans-serif;
  font-weight: 400;
  font-size: 8em;
  letter-spacing: .1em;
  line-height: .85em; }
  header a {
    color: #fffefa; }
  header a:hover {
    color: white;
    text-decoration: none; }
  header .tag_line {
    display: block;
    font-family: "estilo-pro",sans-serif;
    font-size: .45em;
    margin-top: -35px;
    margin-left: -5px;
    letter-spacing: .03em; }
  header .tag_line1 {
    font-family: "etica-display",sans-serif;
    display: block;
    font-size: .25em;
    margin-top: -80px;
    margin-left: -5px;
    letter-spacing: .35em; }

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -230px; }

.demo_nav {
  display: inline; }
  .demo_nav li {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0; }
    .demo_nav li a {
      font-size: 1em;
      font-weight: 400;
      color: #fffefa;
      background-color: darkgray;
      display: block;
      padding: 10px 15px 5px 15px; }
    .demo_nav li a:hover, .demo_nav li .nav_active {
      background-color: lightgray;
      color: #686869;
      text-decoration: none; }

.color_list h2 {
  margin-top: 200px; }
.color_list ul {
  list-style: none;
  font-size: 1.25em; }
  .color_list ul li {
    display: block;
    padding: 5px; }
  .color_list ul :hover {
    color: lightgray;
    cursor: pointer; }

svg .pie_inside {
  font-size: 5em; }
svg .units {
  font-size: 1.2em; }

#user_info_table thead td:first-child {
  border-radius: 10px 0 0 0;
  -webkit-border-radius: 10px 0 0 0;
  -moz-border-radius: 10px 0 0 0; }
#user_info_table thead td:last-child {
  border-radius: 0 10px 0 0;
  -webkit-border-radius: 0 10px 0 0;
  -moz-border-radius: 0 10px 0 0; }
#user_info_table thead td:only-child {
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0; }
#user_info_table thead tr {
  background-color: #686869; }
  #user_info_table thead tr td {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600; }
  #user_info_table thead tr td:hover {
    background-color: darkgray; }
#user_info_table tbody tr:nth-child(odd) {
  background: #fffefa;
  color: darkgray; }
#user_info_table tbody tr:nth-child(even) {
  background: darkgray;
  color: #fffefa; }
#user_info_table tbody tr:hover {
  background: lightgray;
  color: #686869; }
#user_info_table tfoot {
  background-color: #686869; }
  #user_info_table tfoot tr {
    height: 3px; }

#join_email_list {
  background-color: #fffefa;
  color: #686869; }
  #join_email_list button {
    width: 30%;
    margin-top: 10px; }

.error {
  color: #b52628;
  font-size: 1.1em;
  letter-spacing: .04em; }

#grocery_aside .btn_xl {
  width: 49.35%;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  display: inline-block; }
#grocery_aside span {
  font-size: 1.75em;
  margin-left: -20px; }

footer {
  -webkit-box-shadow: inset 0px 30px 90px -20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 30px 90px -20px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 30px 90px -20px rgba(0, 0, 0, 0.3);
  background-color: #686869; }
  footer dt {
    font-size: 1.5em; }
  footer dd {
    text-indent: 25px; }
  footer a {
    color: #adb8cf;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  footer a:hover {
    color: #7d8dae; }
  footer .footer_links {
    margin-top: 5px;
    text-align: center; }

.push {
  margin-top: 15px; }

.margin-top {
  margin-top: 25px; }

footer, .push {
  height: 230px; }
