$blue: #7d8dae;
$light_blue: #ADB8CF;
$white: #FfFeFa;
$mid_grey: #A9A9A9;
$light_grey: #D3D3D3;
$dark_grey: #686869;

* {
  margin: 0;
}

html, body {
  height: 100%;
  background-color: $blue;
  color: $white;
}

#div1, #div2 {
  width:221px;
  height:203px;
  border:1px solid #aaaaaa;
  img {
    padding: 0;
    margin: 0;
  }
}

header {
  background: url("../images/jason-redd-logo.png") no-repeat top center;
  height: 100px;

}

// Allow the head text to be readable for bots
.bot_readable {
  text-indent: -9999px;
  float: left;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -200px;
}

.demo_nav {
  display: inline;
  li {
    float: left;
    list-style: none;
    a{
      color: $white;
      background-color: $mid_grey;
      display: block;
      padding: 15px;
    }
    a:hover, .nav_active {
      background-color: $light_grey;
      color: $dark_grey;
      text-decoration: none;
    }
  }
}

.color_list {
  h2 {
    margin-top: 200px;
  }
  ul {
//    margin-top: 200px;
    list-style: none;
    font-size: 2em;
    li {
      display:block;
      padding: 5px;
    }
    :hover {
      color:$light_grey;
      cursor: pointer;
    }
  }
}

#user_info_table {
  thead {
    td:first-child {
      border-radius: 10px 0 0 0;
      -webkit-border-radius: 10px 0 0 0;
      -moz-border-radius: 10px 0 0 0;
    }
    td:last-child {
      border-radius: 0 10px 0 0;
      -webkit-border-radius: 0 10px 0 0;
      -moz-border-radius: 0 10px 0 0;
    }
    td:only-child{
      border-radius: 10px 10px 0 0;
      -webkit-border-radius: 10px 10px 0 0;
      -moz-border-radius: 10px 10px 0 0;
    }
    tr{
      background-color: $dark_grey;
      td{
        text-align: center;
        font-size: 1.5em;
        font-weight: 600;
      }
      td:hover {
        background-color: $mid_grey;
      }
    }
  }
  tbody {
    tr:nth-child(odd) {
      background: $white;
      color: $mid_grey;
    }
    tr:nth-child(even) {
      background: $mid_grey;
      color: $white;
    }
    tr:hover {
      background: $light_grey;
      color: $dark_grey;
    }
  }
  tfoot{
    background-color: $dark_grey;
    tr{
      height: 3px;
    }
  }
}

#join_email_list {
  background-color: $white;
  color: $dark_grey;
}

footer {
  -webkit-box-shadow: inset 0px 30px 90px -20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 30px 90px -20px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 30px 90px -20px rgba(0, 0, 0, 0.3);
  background-color: $dark_grey;
  dd {
    text-indent: 25px;
  }
  a {
    color: $light_blue;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  a:hover {
    color: $blue;
  }
  .footer_links {
    text-align: center;
  }
}
.push {
  margin-top: 15px;
}

footer, .push {
  height: 200px;
}