$blue: #7d8dae;
$lightblue: #ADB8CF;
$white: #FfFeFa;
$midgrey: #A9A9A9;
$lightgrey: #D3D3D3;
$darkgrey: #686869;

* {
  margin: 0;
}

html, body {
  height: 100%;
  background-color: $blue;
  color: $white;
//  margin: 0 auto 4em;
//  margin: 0 auto -310px;
}

//#div1, #div2 {
//  width:221px;
//  height:203px;
////  padding:10px;
//  border:1px solid #aaaaaa;
//  img {
//    padding: 0;
//    margin: 0;
//  }
//}

header {
  background: url("../images/jason-redd-logo.png") no-repeat top center;
  height: 100px;

}

// Allow the head text to be readable for bots
.bot_readable {
  text-indent: -9999px;
  float: left;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
//  margin: 0 auto ;
//  margin: 0 auto -4em;
  margin: 0 auto -200px;
}

.demo_nav {
  li {
    float: left;
    list-style: none;
    a{
      color: $white;
      background-color: $midgrey;
      display: block;
      padding: 15px;
    }
    a:hover, .nav_active {
      background-color: $lightgrey;
      color: $darkgrey;
      text-decoration: none;
    }
  }
}

.color_list {
  h2 {
    margin-top: 200px;
  }
  ul {
//    margin-top: 200px;
    list-style: none;
    font-size: 2em;
    li {
      display:block;
      padding: 5px;
    }
    :hover {
      color:$lightgrey;
      cursor: pointer;
    }
  }
}

//$border {
//  border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;
//
//}



#user_info_table {
//  border-spacing: 0;
  thead {
    td:first-child {
      border-radius: 10px 0 0 0;
      -webkit-border-radius: 10px 0 0 0;
      -moz-border-radius: 10px 0 0 0;
    }
    td:last-child {
      border-radius: 0 10px 0 0;
      -webkit-border-radius: 0 10px 0 0;
      -moz-border-radius: 0 10px 0 0;
    }
    td:only-child{
      border-radius: 10px 10px 0 0;
      -webkit-border-radius: 10px 10px 0 0;
      -moz-border-radius: 10px 10px 0 0;
    }
    tr{
      background-color: $darkgrey;
      td{
        text-align: center;
        font-size: 1.5em;
        font-weight: 600;
      }
      td:hover {
        background-color: $midgrey;
      }
    }
  }
  tbody {
    tr:nth-child(odd) {
      background: $white;
      color: $midgrey;
    }
    tr:nth-child(even) {
      background: $midgrey;
      color: $white;
    }
    tr:hover {
      background: $lightgrey;
      color: $darkgrey;
    }
  }
  tfoot{
    background-color: $darkgrey;
    tr{
      height: 3px;
    }
  }
}

#join_email_list {
  background-color: $white;
  color: $darkgrey;
}




footer {
  background-color: $darkgrey;
  dd {
    text-indent: 25px;
  }
  a {
    color: $lightblue;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  a:hover {
    color: $blue;
  }
  .footer_links {
    text-align: center;
  }
}

footer, .push {
  height: 200px;
  margin-top: 15px;
//  clear: both;
//  height: 4em;
}